.cell {
    display: grid;
    grid-template-rows: 1fr 1.5fr 1.5fr;
    padding-left: 30px;
}

.week-day {
    margin: 0;
    font-size: 2rem;
    font-weight: 600;
    padding-left: 20px;
    margin-right: 100px;
    padding-top: 15px;
    cursor: default;
}

.week-temp {
    margin: 0;
    font-size: 3rem;
    padding-left: 20px;
    margin-right: 40px;
    font-family: 'Montserrat', sans-serif;
    cursor: default;
}

.week-img {
    padding-left: 20px;
    height: 5rem;
    cursor: default;
}

